extends layout

block content
  h1(style="color: blue; text-decoration: underline")= title
  p This page is displayed using Pug.

  ul(style="list-style-type: square; color: green;")
    each item in items
      li= item
